.App {
  text-align: center;
}

div{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  margin-top:10px;
  font-weight: 700;
}
input{
  margin:10px;
  padding: 6px 10px 6px 10px;
  border-radius: 6px;
  border: 1px solid #0b5a0b;
  outline:none;
  text-align: center;
}
.button{
  margin: 20px;
  background-color: #1d7a1d;
  outline: none;
  border: transparent;
  padding:10px;
  color:white;
  border-radius: 6px;
  font-weight: bold;
}
button:hover{
  transform: scale(1.1);
}